<table class="table table-bordered table-striped" style="clear: both">
    <tbody>
    <tr>
        <td width="35%">Assistance Name</td>
        <td width="65%"><input class="input-large" id="Crop_Type" name="Crop_Type" type="text"

                               required></td>
    </tr>

    <tr>
        <td width="35%">Work Type</td>
        <td width="65%"><input class="input-large" id="Village" name="Village" type="text"
                               ng-model="advice.Work_Type"
                               required></td>
    </tr>
    <tr>
        <td width="35%">Description</td>
        <td width="65%"><input class="input-large" id="Phone" name="Phone" type="text"
                               ng-model="advice.Description"
                               required></td>
    </tr>
    <tr>
        <td width="35%">Filed Image</td>
        <td width="65%"><input class="input-large" id="Phone" name="Phone" type="text"

                               required></td>
    </tr>
    <tr>
        <td width="35%">Transaction Date</td>
        <td width="65%"><input class="input-large" id="Phone" name="Phone" type="text"
                               ng-model="advice.Transaction_Date"
                               required></td>
    </tr>
    <tr>
        <td width="35%">Crop</td>
        <td width="65%"><input class="input-large" id="Phone" name="Phone" type="text"
                               ng-model="advice.Crop"
                               required></td>
    </tr>
    <tr>
        <td width="35%">Product</td>
        <td width="65%"><input class="input-large" id="Phone" name="Phone" type="text"
                               ng-model="advice.Product"
                               required></td>
    </tr>
    <tr>
        <td width="35%">Spray Date</td>
        <td width="65%"><input class="input-large" id="Phone" name="Phone" type="text"
                               ng-model="advice.Spray_Date"
                               required></td>
    </tr>


    </tbody>
</table>

<button ng-click="save()">Click to add advice</button>