<table class="table table-bordered table-striped" style="clear: both">
    <tbody>
    <tr>
        <td width="35%">Assistance Name</td>
        <td width="65%"><select ng-model="advice.Assistance_Id">
   <option ng-repeat="Assistant in assistants" value="{{Assistant._id}}">{{Assistant.Name}}</option>
</select></td>
    </tr>

    <tr>
        <td width="35%">Work Type</td>
        <td width="65%"><select ng-model="advice.Work_Type">
   <option ng-repeat="WorkType in workTypes" value="{{WorkType._id}}">{{WorkType.Name}}</option>
</select></td>
    </tr>
    <tr>
        <td width="35%">Description</td>
        <td width="65%"><input class="input-large" id="Phone" name="Phone" type="text"
                               ng-model="advice.Description"
                               required></td>
    </tr>
    <tr>
        <td width="35%">Field Images</td>
        <td width="65%"><input type="file" file-model="fieldpics" multiple>
        </td>
    </tr>
    <tr>
        <td width="35%">Transaction Date</td>
        <td width="65%">

                               <p class="input-group">
            <input type="text"  datepicker-popup="{{format}}" ng-model="advice.Transaction_Date" is-open="opened" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)"  close-text="Close" />
            <button class="btn btn-default" ng-click="open($event)" style="vertical-align: top;padding: 2px 12px;"><i class="glyphicon glyphicon-calendar"></i></button>
        </p>


                             </td>
    </tr>
    <tr>
        <td width="35%">Crop</td>
        <td width="65%"><input class="input-large" id="Phone" name="Phone" type="text"
                               ng-model="advice.Crop"
                               required></td>
    </tr>
    <tr>
        <td width="35%">Product</td>
        <td width="65%"><select ng-model="advice.Product">
   <option ng-repeat="Product in products" value="{{Product._id}}">{{Product.Name}}</option>
</select></td>
    </tr>
    <tr>
        <td width="35%">Spray Date</td>
        <td width="65%">

                               <p class="input-group">
            <input type="text"  datepicker-popup="{{format}}" ng-model="advice.Spray_Date" is-open="opened1" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)"  close-text="Close" />
            <button class="btn btn-default" ng-click="open11($event)" style="vertical-align: top;padding: 2px 12px;"><i class="glyphicon glyphicon-calendar"></i></button>
        </p>

                             </td>
    </tr>


    </tbody>
</table>

<button ng-click="save()">Click to add advice</button>