<table class="table table-bordered table-striped" style="clear: both">
    <tbody>
    <tr>
        <td width="35%">Crop Name</td>
        <td width="65%"><input class="input-large" id="Crop_Type" name="Crop_Type" type="text"
                               ng-model="crop.Crop_Type"
                               required></td>
    </tr>

    <tr>
        <td width="35%">Crop_Sowing_Date</td>
        <td width="65%"><input class="input-large" id="Village" name="Village" type="text"
                               ng-model="crop.Crop_Sowing_Date"
                               required></td>
    </tr>
    <tr>
        <td width="35%">Land</td>
        <td width="65%"><input class="input-large" id="Phone" name="Phone" type="text"
                               ng-model="crop.Land"
                               required></td>
    </tr>




    </tbody>
</table>

<button ng-click="save()">Click to add Crop</button>