<table class="table table-bordered table-striped" style="clear: both">
    <tbody>
    <tr>
        <td width="35%">Crop Name</td>
        <td width="65%"><input class="input-large" id="Crop_Type" name="Crop_Type" type="text"
                               ng-model="crop.Crop_Type"
                               required></td>
    </tr>

    <tr>
        <td width="35%">Crop_Sowing_Date</td>
        <td width="65%"><p class="input-group">
            <input type="text"  datepicker-popup="{{format}}" ng-model="crop.Crop_Sowing_Date" is-open="opened" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
            <button class="btn btn-default" ng-click="open($event)" style="vertical-align: top;padding: 2px 12px;"><i class="glyphicon glyphicon-calendar"></i></button>
        </p></td>
    </tr>
    <tr>
        <td width="35%">Land</td>
        <td width="65%"><input class="input-large" id="Phone" name="Phone" type="text"
                               ng-model="crop.Land"
                               required></td>
    </tr>




    </tbody>
</table>

<button ng-click="save()">Click to add Crop</button>