<form name="farmerForm" novalidate>
<table class="table table-bordered table-striped" style="clear: both">
    <tbody>
    <tr>
        <td width="35%">Name</td>
        <td width="65%"><input class="input-large" id="Name" name="Name" type="text" placeholder="Enter Farmer name"
                               ng-model="farmer.Name" ng-minlength=5
                               required><span class="errorMessage" ng-show="farmerForm.Name.$dirty && farmerForm.Name.$invalid">
                                <small ng-show="farmerForm.Name.$error.required">
                                   Your name is required.</small>
                                <small ng-show="farmerForm.Name.$error.minlength">
                                    Your name is required to be at least 5 characters.</small>
                        </span></td>
    </tr>

    <tr>
        <td width="35%">Village</td>
        <td width="65%">
                               <input type="text" ng-model="farmer.Village" id="Village" name="Village" placeholder="Find Farmer Village/town" typeahead="address for address in getLocation($viewValue) | filter:$viewValue" typeahead-loading="loadingLocations" required>
                               <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh">
                                <span class="errorMessage" ng-show="farmerForm.Village.$dirty && farmerForm.Village.$invalid">
                                    <small ng-show="farmerForm.Village.$error.required">
                                    Village name is required.</small>
                                </span></td>
    </tr>
    <tr>
        <td width="35%">Phone number</td>
        <td width="65%"><input type="number" class="input-large" id="Phone" name="Phone" placeholder="enter 0 for no number"
                               ng-model="farmer.Phone" ng-minlength=10
                               required><span class="errorMessage" ng-show="farmerForm.Phone.$dirty && farmerForm.Phone.$invalid">
                               invalid entry it should number
                        </span></td>
    </tr>
    <tr>
        <td width="35%">Location</td>
        <td width="65%"><input class="input-large" id="Location" name="Location" type="text" placeholder="copy map URL"
                               ng-model="farmer.Location"
                               required></td>
    </tr>
    <tr>
        <td width="35%">Profile Pic</td>
        <td width="65%"><input type="file" file-model="profpic">
                 <button class="btn btn-primary btn-info" ng-click="uploadFile()">
                              Upload
                </button></td>
    </tr>
    <!--<tr>-->
        <!--<td width="35%">Assistant Name</td>-->
        <!--<td width="65%"></td>-->
    <!--</tr>-->
    <tr>
        <td width="35%">Crop Details</td>

        <td width="65%">
            <ul ng-repeat="crop in farmer.Crop">
                <li>Crop: {{crop.Crop_Type }}</li>
                <li>Sowing Date: {{crop.Crop_Sowing_Date}}</li>
                <li>Land: {{crop.Land}}</li>
                <br/>
            </ul><button ng-click="save()">Click to add Crop</button></td>
    </tr>
    <tr>
        <td width="35%">Advice</td>
        <td width="65%">
            <ul ng-repeat="advice in farmer.TimeLine">
            <li>Assistant name: {{assistants[$index]}}</li>
            <li>Work Type: {{advice.Work_Type}}</li>
            <li>Description: {{advice.Description}}</li>
            <li>Field_Image: {{}}</li>
            <li>Transaction Date:{{advice.Transaction_Date}}</li>
            <li>Product: {{advice.Product}}</li>
            <br/>
            </ul><button ng-click="save1()">Click to add Advice</button></td>
    </tr>
    </tbody>
</table>



    <div class="row">
        <div class="span12">
            <button type="submit" class="btn btn-primary" data-ng-click="saveCustomer()" ng-disabled="farmerForm.$invalid || !farmerForm.$dirty">add {{buttonText}}</button>
            &nbsp;&nbsp;
            <button class="btn btn-danger" data-ng-if="customer.id > 0" data-ng-click="deleteCustomer()">Delete</button>
        </div>
    </div>
    <div class="row">
        <br />
        <div class="span10 label label-success show-hide-animation" data-ng-show="updateStatus">
            <i class="icon-thumbs-up icon-white"></i>&nbsp;&nbsp;Customer updated!
        </div>
        <div class="span10 label label-important show-hide-animation" data-ng-show="errorMessage">
            <i class="icon-thumbs-down icon-white"></i>&nbsp;&nbsp;Error: {{ errorMessage }}
        </div>
    </div>



</form>