<div class="container-fluid">

    <section class="content-header">
        <h1>
            Uttar-Pradesh Database
            <small> Ranadey</small>
        </h1>
        <ol class="breadcrumb">

            <li class="active">Dashboard</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">


        <!-- Small boxes (Stat box) -->
        <div class="row">
            <a href="#/farmer">
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3>
                            Farmer
                        </h3>
                        <p>
                            Search / Add new farmer
                        </p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                    <span class="small-box-footer">
                        More info <i class="fa fa-arrow-circle-right"></i>
                    </span>
                </div>
            </div><!-- ./col --></a>
            <a href="#/dealer">
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3>
                            Dealer
                        </h3>
                        <p>
                            Search / Add new farmer
                        </p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-stats-bars"></i>
                    </div>
                    <span class="small-box-footer">
                        More info <i class="fa fa-arrow-circle-right"></i>
                    </span>
                </div>
            </div><!-- ./col --></a>
            <a href="#/view">
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3>
                            View
                        </h3>
                        <p>
                            Displays Employee work [map/list]
                        </p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person-add"></i>
                    </div>
                    <span class="small-box-footer">
                        More info <i class="fa fa-arrow-circle-right"></i>
                    </span>
                </div>
            </div><!-- ./col --></a>
            <a href="#/report">
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-red">
                    <div class="inner">
                        <h3>
                            Daily Report
                        </h3>
                        <p>
                            Generate Report of Employee
                        </p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-pie-graph"></i>
                    </div>
                    <span class="small-box-footer">
                        More info <i class="fa fa-arrow-circle-right"></i>
                    </span>
                </div>
            </div><!-- ./col -->
        </div><!-- /.row --></a>


    </section>

</div>