<div class="container-fluid">
    <div class="row-fluid">

        <div>
            <!--Sidebar content-->

            Search:<br/>
            Village: <input ng-model="village">

            name: <input ng-model="name">

             <button ng-click="searchfarmer()">Search</button>
            <a href="#/addfarmer"><button>Add Farmer</button></a>
        </div>
        <div>
            <!--Body content-->

            <!--<ul class="phones">-->
                <!--<li ng-repeat="phone in phones | filter:query | orderBy:orderProp">-->
                    <!--<a href="#/phones/{{phone.id}}" class="thumb"><img ng-src="{{phone.imageUrl}}"></a>-->
                    <!--<a href="#/phones/{{phone.id}}">{{phone.name}}</a>-->
                    <!--<p>{{phone.snippet}}</p>-->
                <!--</li>-->
            <!--</ul>-->


        </div>

    </div>

</div>

<div>

    <div class="row gridContainer customersTable show-hide-animation" >
        <div class="span10">
            <table class="table table-striped table-condensed">
                <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th data-ng-click="setOrder('Name')">Name</th>
                    <th data-ng-click="setOrder('Village')">Location</th>
                    <th data-ng-click="setOrder('orderCount')">Assistant Added</th>
                    <th>Spray Date</th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="farmer in farmers | orderBy:orderby:reverse" class="repeat-animation">
                    <td><a href="#/editfarmer/{{farmer._id}}"><img data-ng-src="/Content/Images/{{customer.gender}}.png" class="cardImage" alt="Customer Image" /></a></td>
                    <td><a href="#/editfarmer/{{farmer._id}}">{{farmer.Name}}</a></td>
                    <td>{{farmer.Village}}</td>
                    <td>{{farmer.TimeLine[farmer.TimeLine.length-1].Product}}</td>
                    <td>{{farmer.TimeLine[farmer.TimeLine.length-1].Spray_Date}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row show-hide-animation" data-ng-show="farmers.length > 0">
        <div class="span12">
            <div data-pagination="" data-on-select-page="pageChanged(page)" data-total-items="totalRecords" data-page="currentPage"
                 data-boundary-links="true" class="pagination-small"></div>

            <h5>Showing {{ filteredCount }} of {{ totalRecords}} total customers</h5>
        </div>
    </div>
    <br />
    <br />
</div>