<div class="container-fluid">
    <div class="row-fluid">

        <div>
            <!--Sidebar content-->

            Search:<br/>
            Village: <input ng-model="village">

            name: <input ng-model="name">

             <button ng-click="searchfarmer()">Search</button>
            <a href="#/addfarmer"><button>Add Farmer</button></a>
        </div>
        <div>
            <!--Body content-->

            <!--<ul class="phones">-->
                <!--<li ng-repeat="phone in phones | filter:query | orderBy:orderProp">-->
                    <!--<a href="#/phones/{{phone.id}}" class="thumb"><img ng-src="{{phone.imageUrl}}"></a>-->
                    <!--<a href="#/phones/{{phone.id}}">{{phone.name}}</a>-->
                    <!--<p>{{phone.snippet}}</p>-->
                <!--</li>-->
            <!--</ul>-->


        </div>

    </div>


</div>